@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');


body {
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--background-color);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

/* Default Colors and Styles */
:root{
  --redColor: #CD374F;
  --blueColor: #1D6AB5;
  --purpleColor: #3B008F;
  --pinkColor: #ED6E83;
  --lightBlue: #9EC4EA;
  --lightPurple: #C268D6;
  --backgroundColor: #F8F5DE;
  --darkRed: #a9243a;

  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
}


.flex {
  display: flex;
  align-items: center;  
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px gray;
  padding: .8rem 1rem;
}


