.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--redColor);
}

.heading {
    text-align: center;
    color: white;
    margin-top: 15px;
}

.main {
    font-size: 70px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 2px #500a16;
}

.subheading {
    font-size: 70px;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 2px #500a16;
}

.wave {
    position: absolute;
    width: 100%;
    opacity: 1;
    background: var(--backgroundColor);
}

.public {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
}

.join {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: black;
    width: 150px;
    height:50px;
    border-radius: 50px;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.underline2 {
    text-decoration: underline;
}