.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    width: 82%;
    height: 100%;
    padding: 1.5rem;
    overflow: hidden;
    background-color: var(--backgroundColor);

    .dash-header {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }

    .create-rso-button {
        display: inline-block;
        text-align: center;
    }

    .admin-button-container,
.rso-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
        
    .title {
        text-align: center;
        width:100%;
        font-size: 70px;
        font-weight: 500;
        color: white;
        z-index: 1;
        text-shadow: 3px 3px 2px #1d3853;
    }

    .custom-user {
        color: white;
        font-weight: 500;
        font-style: italic;
    }

    .admin-button {
        display: inline;
        flex-direction: right;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;
        margin-left: auto;
        padding-right: 35px;
    }

    .admin-button button.admin {
        width: 120px;
        height: 40px;
        background: black;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
        cursor: pointer;
    }

    .create-rso-button {
        display: inline-block;
        flex-direction: right;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;
    }

    .create-rso-button button.create-rso {
        width: 120px;
        height: 40px;
        background: black;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .public-pos {
        padding-top: 60px;
    }

    .private-pos {
    }

    .rso-pos {
        padding-bottom: 30px;
    }

    .current-view {
        z-index: 1;
        display:inline;
        align-items: center;
        justify-content: center;
    }

    .location {
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: center;
        width:100%;
    }

    .custom-loc {
        text-decoration: underline;
    }

    .rso-pos {
        display: block;
    }

}
