.site {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.login-title {
    margin-top: 10px;
    font-size: var(--h1FontSize);
    font-weight: 100px;
    color: var(--redColor);
    text-align: center;
    font-style: italic;
}