@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(149, 149, 149)!important;
    font-size: 30px;
  }

  .public-header {
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
  }

  .slick-dots {
    bottom: -50px!important;
  }

.slick-list {
    margin: 0 -100px;
    padding: 100px;
  }