
.main-content-create-rso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relfiative;
    margin-bottom: 20px;
}

.dash-button {
    display: inline-block;
    flex-direction: right;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    width: 120px;
    height: 40px;
    background: black;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    margin-top: 10px;;
}

.blob {
    height: 250px;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.title-create-rso {
    text-align: center;
        width:100%;
        font-size: 70px;
        font-weight: 500;
        color: white;
        z-index: 1;
        text-shadow: 3px 3px 2px #1d3853;
}